.App-header {
  background-color: #e5e5e5;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: normal;
  font-size: calc(10px + 1vmin);
  color: #1d3557;
}

.App-body {
  background-color: #f1faee;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: #1d3557;
}

.rowC {
  display: flex;
  flex-direction: row;
}
